* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(139, 147, 147);
}

#header {
    grid-column: span 3;
    font-size: 60px;
    text-align: center;
    color: white;
}

nav {
    grid-column: span 3;
    display: flex;
    align-items: center;
    background-color: rgb(236, 95, 241);
    height: 60px;
    justify-content:space-around;
}

a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.input-holder {
    display: flex;
    gap: 5px;
}
input {
    height: 25px;
    padding: 0px;
    border: none;
}

button {
    background-color: rgb(37, 35, 35);
    color: white;
    border: none;
    padding: 0px;
    height: 25px;
    width: 50px;
    font-size: 15px;
}

.article-holder {
    grid-column: span 2;
    background-color: white;
    height: inherit;
}

#header-for-article {
    text-align: center;
    font-size: 40px;
}

h2 , p {
    padding: 9px;
}

section {
    background-color: rgb(236, 95, 241);
}

section > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

footer {
    grid-column: span 3;
    background-color: white;
    padding-left: 30px;
}